
/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.container {
  padding: 0 10px;
}

.row {
  display: flex;
  flex-direction: column;
  padding: 1em 10px;
}

[class^=col] {
  margin-top: 10px;
  flex-basis: 100%;
  min-height: 25px;
  padding: 10px;
  border-radius: 5px;
}


@each $num, $clr in $theme-col {
  .theme.col-#{$num} {
    background-color: $clr;
  }
}

.card {
  flex-basis: 100%;
}

